@mixin font-face($font-family, $url, $weight, $style) {
    @font-face {
        font-family: '#{$font-family}';
        src: url('../fonts/#{$url}.woff2') format('woff2');
        font-weight: #{$weight};
        font-display: swap;
        font-style: $style;
    }
}

@include font-face('Aeion Mono', 'ffBase_400', 400, normal);
@include font-face('Aeion Mono', 'ffBase_700', 700, normal);
@include font-face('Aeion Mono', 'ffBase_900', 900, normal);
@include font-face('Effra VF Trial', 'ffSecondary_300', 300, normal);
@include font-face('Effra VF Trial', 'ffSecondary_700', 700, normal);
@include font-face('Chill', 'ffChill_400', 400, normal);


