@use 'mixins' as *;
@use 'media' as *;
@use 'var' as *;

html {
    height: 100%;
    scroll-behavior: smooth !important;
}

body {
    scroll-behavior: smooth !important;
    font: 400 16px/1.5 var(--ff-base);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background: var(--body-bg);

    &.is-locked {
        overflow: hidden;
    }
}

main {
    flex: 1;
}

button {
    @include reset_button;
    display: flex;
    color: inherit;
}

a {
    @include reset_link;
}

.container {
    max-width: var(--container-width);
    width: 100%;
    padding-inline: var(--container-padding);
    margin: 0 auto;
}

section,
.scrl-mt {
    scroll-margin-top: var(--scrl-mt);
}

section {
    margin-bottom: var(--section-mb);
}
