@use '../base/media' as *;
@use '../base/mixins' as *;

.faq {
    .section-head {
        max-width: 451px;
        margin: 0;
        text-align: left;

        @include media('tablet') {
            margin: 0 auto 56px;
            text-align: center;
            max-width: 800px;
        }

        @include media('mobile') {
            margin: 0 auto 24px;
        }

        &__title {
            padding: 4px 24px;
            @include media('tablet') {
                padding: 0;
            }
        }

        &__text {
            max-width: 351px;
            margin: 0;
            padding-inline: 24px;
            @include media('tablet') {
                max-width: 100%;
            }
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: var(--section-mb);

        @include media('tablet') {
            flex-direction: column;
            gap: 0;
        }
    }

    &__cta {
        margin: 0 auto;
        display: flex;
        width: max-content;
    }

    &__list {
        max-width: 718px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include media('tablet') {
            max-width: 100%;
        }

        @include media('mobile') {
            gap: 24px;
        }
    }

    &__head {
        display: inline-flex;
        align-items: center;
        gap: 16px;
    }

    &__item {
        cursor: pointer;
        padding-bottom: 40px;
        border-bottom: 1px solid #23252326;

        @include media('mobile') {
            padding-bottom: 24px;
        }

        &:last-child {
            padding-bottom: 0;
            border: none;
        }

        &.is-active {
            .faq__inner {
                grid-template-rows: 1fr;
            }
            .faq__text {
                margin-top: 24px;
                @include media('mobile') {
                    margin-top: 12px;
                }
            }
            .plusminus {
                &:before {
                    transform: translatey(-50%) rotate(-90deg);
                    opacity: 0;
                }
                &:after {
                    transform: translatey(-50%) rotate(0);
                }
            }
        }

        .plusminus {
            position: relative;
            width: 25px;
            height: 25px;
            cursor: pointer;
            flex-shrink: 0;
            display: inline-flex;

            &:before,
            &:after {
                content: '';
                border-radius: 3px;
                display: block;
                background-color: #009961;
                position: absolute;
                top: 50%;
                left: 0;
                transition: 0.35s;
                width: 100%;
                height: 3px;
            }

            &:before {
                transform: translatey(-50%);
            }

            &:after {
                transform: translatey(-50%) rotate(90deg);
            }
        }
    }

    &__title {
        font: 700 20px / 170% var(--ff-base);
        @include media('mobile') {
            font-size: 18px;
        }
    }

    &__text {
        font: 400 16px / 170% var(--ff-base);
        overflow: hidden;
        padding-left: 41px;
        color: #232523b2;
        @include transitions(0.3s, ease-in);
        @include media('mobile') {
            font-size: 14px;
        }
    }

    &__inner {
        display: grid;
        grid-template-rows: 0fr;
        @include transitions(0.3s, ease-in);
    }
}
