@use '../base/media' as *;
@use '../base/mixins' as *;

.footer {
    font: 300 18px / 150% var(--ff-sec);
    padding-block: 72px 80px;
    color: var(--text-color-half);

    @include media('tablet') {
        padding-block: 48px;
    }

    @include media('mobile') {
        padding-block: 24px;
        font-size: 16px;
    }

    a {
        @include transitions(.2s, ease-in);
        @include hover {
            color: var(--accent-color);
        }
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
        }
    }

    &__logo {
        display: inline-flex;
        flex-shrink: 0;
        width: 73px;
        height: 55px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__col {
        &:first-child {
            max-width: 252px;
        }
    }

    &__location {
        max-width: 126px;
    }

    &__menu {
        padding-bottom: 72px;
        display: flex;
        align-items: flex-start;
        gap: 20px;
        justify-content: space-between;
        @include media('tablet') {
            padding-bottom: 48px;
        }

        @include media('mobile') {
            flex-direction: column;
            padding-bottom: 24px;
        }
    }

    &__map {
        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            @include media('mobile') {
                gap: 10px;
            }
        }
    }

    &__title {
        font: 700 24px / 130% var(--ff-sec);
        text-transform: capitalize;
        margin-bottom: 24px;
        color: var(--text-color);

        @include media('mobile') {
            font-size: 18px;
            margin-bottom: 12px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-top: 72px;
        border-top: 1px solid #89a3ab40;
        @include media('tablet') {
            padding-top: 48px;
        }
        @include media('mobile') {
            padding-top: 24px;
            flex-direction: column;
        }
    }

    &__legals {
        display: flex;
        align-items: center;
        gap: 56px;

        li {
            font: 300 18px / 150% var(--ff-sec);

            @include media('mobile') {
                font-size: 16px;
            }

            a {
                font: inherit;
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 16px;

        @include media('mobile') {
            gap: 5px;
        }

        a {
            display: inline-flex;
            flex-shrink: 0;
            width: 24px;
            height: 24px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
