@use '../base/media' as *;
@use '../base/mixins' as *;

.header {
    z-index: 2;
    padding-block: 24px;
    margin-bottom: 40px;
    background: var(--body-bg);
    @include transitions(0.2s, ease-in);

    @include media('tablet') {
        margin-bottom: 12px;
        padding-block: 18px;
    }

    @include media('mobile') {
        position: sticky;
        top: 0;
        &.is-scrolled {
            padding-block: 12px;
            box-shadow: 0 0 8rem rgba(24, 90, 104, 0.2901960784);
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &__logo {
        display: inline-flex;
        flex-shrink: 0;
        width: 73px;
        height: 55px;

        @include media('mobile') {
            width: 53px;
            height: 35px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__burger {
        display: none;
        width: 36px;
        height: 20px;
        flex-direction: column;
        justify-content: space-around;

        span {
            width: 100%;
            height: 2px;
            background-color: var(--text-color);
        }
        @include media('mobile') {
            display: flex;
        }
    }

    &__cta {
        @include media('mobile') {
            display: none;
        }
    }

    &__nav {
        max-width: 401px;
        width: 100%;

        @include media('tablet') {
            max-width: 320px;
        }

        @include media('mobile') {
            display: none;
        }

        ul {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;

            li {
                font: 400 16px / 150% var(--ff-base);
                list-style-type: none;
            }

            a {
                font: inherit;
                @include transitions(0.2s, ease-in);
                @include hover {
                    color: var(--accent-color);
                }
            }
        }
    }
}
